/* ==========================================================================
   cvicimeqigong.cz
   ========================================================================== */

/**
    Author: Pavel Šuraba
 
    Year: 2014
  
    Description: Responsive , mobile first , OOCSS
 
    Fonts: Fira
   
    Tools: Sass , Gulp , Bower , Picturefill

    Support: IE9+
   
 */

/* Base imports */
@import "base/variables";
@import "base/utility";
@import "base/mixins";
@import "base/base";
@import "base/typography";
@import "base/grid";

/* Components imports */
@import "components/nav";
@import "components/gallery";
@import "components/form";
@import "components/buttons";

/* Layout imports */
@import "layout/header";
@import "layout/content";
@import "layout/footer";