/* ==========================================================================
   Grid
   ========================================================================== */

$grid-pad: 1rem;

%container {
  margin: 0 auto;
  padding: 0 $grid-pad 0 $grid-pad;
}

.container {
  @extend %container;
  max-width: 77.5rem; // 1240px
}

.container--text {
  @extend %container;
  max-width: 40rem; // 800px
}

.container--contact {
  @extend %container;
  max-width: 50rem; // 800px
}

.row {
  margin-right: -($grid-pad/2);
  margin-left: -($grid-pad/2);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

%column {
  padding: 0 ($grid-pad/2) 0 ($grid-pad/2);
  width: 100%; 
}

.col {

  @extend %column;

  @include bp(35em) { //560px
    float: left;
    width: 50%;
  }

  @include bp(83em) { //1328px
    width: 33.33%;
  }
}

.col--contact {

  @extend %column;

  @include bp(35em) { //560px
    float: left;
    width: 50%;
  }

  @include bp(60em) { //960px
    width: 33.33%;
  }

}

.col--picture {

  @include bp(35em) { //560px
    float: left;
    width: 50%;
  }

  @include bp(65em) { //1040px
    width: 33.33%;
  }

  img {
    width: 100%;
    height: auto;        
  }
}

