/* ==========================================================================
   Typography
   ========================================================================== */

/* ==========================================================================
   Font sizes
   ========================================================================== */
/**
    
    html: 87.5%     1em     = 14px     
            h1      2.517em = 36px 
            h2      1.517em = 22px 
            vertical rhythm = 21px

    html: 100%      1em     = 16px 
            h1      2.562em = 41px   
            h2      1.562em = 25px   

    html: 125%      1em     = 20px 
            h1      2.6em = 52px
            h2      1.6em = 32px
                      
 */