/*==========================================================================
  Buttons
  ========================================================================== */

%btn {
  height: 3rem;
  display: block;
  font-size: 1rem;
  background: $button-bg;
  color: $button-color;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background: $button-bg-hover;
  }
}

.button--more {

  @extend %btn;

  width: 180px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

%btnScroll {
  border-radius: 50%;
  background: transparent;
  transform: translateZ(0);
}

.btnScroll--header {

  @extend %btnScroll;

  position: absolute;
  display: none;
  width: 80px;
  height: 80px;
  left: 50%;
  bottom: 40px;
  margin-left: -40px;
  border: 2px solid $button-arrow-color;

  @include bp(83em) {
    display: block;
  }
}

.btnScroll--footer {
    
  @extend %btnScroll;

  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 15px;
  bottom: 15px;
  border: 2px solid $primary-Color;
}

.btnScroll--footer.js-show {
  display: block;
}

%btnScroll__arrow {
  position: relative;
  display: inline-block;    
}

.btnScroll__arrow--down {

  @extend %btnScroll__arrow;

  box-shadow: 3px -3px 0 1px $button-arrow-color inset;
  top: 10px;
  left: 18px;
  padding: 20px;
  transform: rotate(-45deg);
}

.btnScroll__arrow--up {

  @extend %btnScroll__arrow;

  box-shadow: 3px -3px 0 1px $primary-Color inset;
  top: 15px;
  left: 10px;
  padding: 13px;
  transform: rotate(135deg);    
}

@keyframes arrowAnimate {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(12px);
  }
  75% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}

.arrow-animate {
  animation: arrowAnimate .8s 10 linear;
}