/* ==========================================================================
   Gallery
   ========================================================================== */

/*
Source code example:

    <div class="gallery">
        <div class="container">
            <ul>
                <li class="gallery__item"><img class="gallery__item__image" src="http://placekitten.com/300/300" alt=""></li>
                <li class="gallery__item"><img class="gallery__item__image" src="http://placekitten.com/300/300" alt=""></li>
                <li class="gallery__item"><img class="gallery__item__image" src="http://placekitten.com/300/300" alt=""></li>
            </ul>                
        </div>
    </div>
    <!-- /gallery -->
*/

.gallery {
    padding: 3rem 0;
    background: $content-bg-color;

    @include bp(65em) { //1040px
        padding: 6rem 0;
    }
}

.gallery__image {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 50%;

    @include bp(65em) { //1040px
        margin-bottom: 0;
    }
}