/* ==========================================================================
   Header
   ========================================================================== */

.header {
  position: relative;
  height: 50vh;
  padding-top: 1rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/header_350.jpg");
  color: $header-font-color;

  @include retina() {
    background-image: url("../images/header_600.jpg");
  } 
  

  @include bp(29em) { //464px
    background-image: url("../images/header_600.jpg");
  }    
  @include retina-min(29em) {
    background-image: url("../images/header_1140.jpg");
  }


  @include bp(53em) { //848px
    height: 75vh;
    background-image: url("../images/header_800.jpg");
  }

  @include bp(67em) { //1072px
    background-image: url("../images/header_1140.jpg");
  }
  @include retina-min(67em) {
    background-image: url("../images/header_1480.jpg");
  }


  @include bp(83em) { //1328px
    height: 100vh;
    background-image: url("../images/header_1480.jpg");
  } 
  @include retina-min(83em) {
    background-image: url("../images/header_2100.jpg");
  }    
}

.header__logo {
  position: relative;
  float: left;
  top: 0;
  left: 0;
  width: 110px;
  height: 40px;
  background-image: url("../images/logo_110.png");

  @include bp(29em) { //460px
    width: 217px;
    height: 80px;
    background-image: url("../images/logo_217.png");  
  }

  @include bp(65em) { //1040px
    width: 257px;
    height: 95px;
    background-image: url("../images/logo_257.png");  
  }
}

.header__heading {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    font-size: 2rem;
    line-height: 1.4;

    @include bp(29em) { //460px
      font-size: 4rem;  
    }

    @include bp(83em) { //1328px
      font-size: 5rem;
    }
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.4;

    @include bp(29em) { //460px
      font-size: 2rem;  
    }

    @include bp(83em) { //1328px
      font-size: 3rem;  
    }
  }
}

@keyframes slideHeading1 {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  50% {
    transform: translateX(-50px);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideHeading2 {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  50% {
    transform: translateX(50px);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.slide1 {
  animation: slideHeading1 1.3s 0.5s linear backwards;    
}

.slide2 {
  animation: slideHeading2 1.3s 1.8s linear backwards;    
}